* {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

body {
  backdrop-filter: blur(5px);
  background-image: url("rainybackground.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  width: 700px;
  height: 400px;
  background-color: rgba(32, 31, 31, 0.486);
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
  position: relative;
  -moz-box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-size: 1.3em;  
}

input {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  font-size: 1.5em;
  background-color: rgba(32, 31, 31, 0.486);
  padding: 8px;
  border-radius: 10px;
  border-style: solid;
  text-align: left;
}

input::placeholder {
  color: rgb(255, 255, 255);
}

input:focus::placeholder {
  color: transparent;
}

.tempandcity {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.windhumdate {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.datesminmax {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.datesrow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;  
  justify-content: space-evenly;
  padding: 25px 0;
}

.mintemprow, .maxtemprow{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  padding: 10px 0;
}

.maxtempday1 {

}
